<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HR Operations Manager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

   <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>

  
  
   
   <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>

  
 <servlet>
    <servlet-name>CreateProfile</servlet-name>
    <servlet-class>com.CreateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProfile</servlet-name>
    <url-pattern>/CreateProfile</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <servlet-name>AccessPolicy</servlet-name>
    <servlet-class>com.AccessPolicy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessPolicy</servlet-name>
    <url-pattern>/AccessPolicy</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>AddPrescription</servlet-name>
    <servlet-class>com.AddPrescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPrescription</servlet-name>
    <url-pattern>/AddPrescription</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddReport</servlet-name>
    <servlet-class>com.AddReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReport</servlet-name>
    <url-pattern>/AddReport</url-pattern>
  </servlet-mapping>

</web-app>